@model IEnumerable<FormacaoTalentosFinal.Models.Universidade>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UF)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UF)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UniversidadeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UniversidadeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UniversidadeID })
        </td>
    </tr>
}

</table>
